testing! (you can safely ignore if you aren't a developer)
<script src="/assets/scripts/clockwork.js"></script>
<script>
    const cw = new Clockwork();
    setTimeout(z => cw.installPlugin("/assets/scripts/testplugin.js"), 500)
</script>